body { background: #720607; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 48px; display: flex; }
.block-cache-0 { color: #3f9b0e; font-size: 21px; margin-bottom: 5px; }
.block-notify-1 { color: #d34a0d; font-size: 13px; margin-bottom: 5px; }
.block-router-2 { color: #7f567b; font-size: 12px; margin-bottom: 5px; }
.block-shipping-3 { color: #557327; font-size: 21px; margin-bottom: 5px; }
.block-filter-4 { color: #16427e; font-size: 12px; margin-bottom: 5px; }